@import "tailwindcss";

html {
  direction: rtl;
}
@theme {
}
@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300;
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }
}
.section-label:before {
  content: "";
  height: calc(var(--spacing) * 1.5);
  width: calc(var(--spacing) * 1.5);
  background: #f97316;
  border-radius: 3.40282e38px;
  animation: 2s infinite pulse;
}
